- @items.each do |item|
  .container
    .items
      .container
        .col-md-6
          %h1= link_to item.title, item
          %p= truncate(item.description, length: 50) 
          %p.price 
            Цена:
            = item.price
        .col-md-4
          = image_tag item.image.url(:thumb)

    
    

= link_to "На главную", root_path, class: 'btn btn-default'
